html {
  margin: 0;
  background-color: #cfebf7;
  font-family: "Raleway";
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.leaf-border {
  /* border-top-left-radius: 70% 60%;
  border-bottom-right-radius: 70% 60%;
  -moz-border-top-left-radius: 70% 50%;
  -moz-border-bottom-right-radius: 70% 50%; */
  border-top-right-radius: 60% 70%;
  border-bottom-left-radius: 60% 70%;
  border: dotted 4px #2a3439;
}

.leaf-border:hover {
  border: dashed 4px #2a3439;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

h3 {
  margin: 0 auto;
  text-align: center;
  font-size: large;
  color: #2a3439;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.logo-block:hover {
  background-color: #2a3439;
  border-radius: 10% / 50%;
}

.logo-block:hover > h3 {
  text-decoration: underline;
  color: #c0c0c0;
}

.logo-block > h3 {
  font-size: 1.4rem;
}

.logo-block > article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backend {
  padding-right: 0.8rem;
}

.frontend > img {
  padding: 0.8rem 0.4rem 0.8rem 0.4rem;
}

.backend > img {
  padding: 0.8rem 1.1rem 0.8rem 1.1rem;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.welcome {
  margin: auto 0;
  text-align: center;
  font-size: 2rem;
}

.welcome:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #2a3439;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 2.8rem;
}

figcaption {
  all: unset;
  font-size: medium;
  font-style: italic;
  color: black;
  font-size: 1.1rem;
}

figcaption:hover {
  text-decoration: underline;
  text-decoration-style: double;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.projects > div {
  margin: 2rem 4rem 2rem 4rem;
}

nav {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(207, 235, 247, 0.6);
  align-items: center;
}

nav > a {
  text-decoration: none;
  font-size: 1.2rem;
}

nav > a:hover {
  text-decoration: underline;
  color: #2a3439;
}

.logo-icon {
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  height: 2.4rem;
  width: 2.4rem;
}
.logo-icon:hover {
  background-color: #2a3439;
}

.logo-btn {
  all: unset;
}

footer {
  text-align: center;
  color: #c0c0c0;
  background-color: #2a3439;
  border-top: 5px solid black;
  padding: 1rem;
  width: auto;
}

footer > button {
  color: #2a3439;
  background-color: #c0c0c0;
  border: 2px solid black;
  border-radius: 15%;
}

footer > button:hover {
  color: #c0c0c0;
  background-color: black;
  border: 2px solid #c0c0c0;
  border-radius: 15%;
}

.project-content {
  font-size: 1.2rem;
}
